{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/new.css">
    <!-- js files -->
    <script src="/static/js/swiper-bundle.min.js"></script>
    <script src="/static/js/new.js"></script>

    <title>Document</title>
    <style>
        p {
            font-size: medium !important;
        }

        #wave {
            margin: 25px;
        }

        .dot {
            height: 15px;
            width: 15px;
            background-color: rgb(16, 15, 15);
            border-radius: 50%;
            margin: 3px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container my-2" style="padding: 45px;">
        <h1 class="heading"> About <span>Us</span> </h1>

        <p>Tirth Agro Technology Private Limited is a leading Indian agricultural implements manufacturer company with a
            history of over a decade. Founded by a progressive farmer late Shri Ladhubhai S. Gohil as A.G. Agro
            Industries in 1997 at Rajkot, Gujarat, the company envisioned to mechanize Indian agriculture completely.
            Initially, the company focused on the production of spare parts, but soon a complete production line of
            agricultural implements with the brand name of “saptshrungi” began.
            <br>
            The Company has effectively fulfilled the needs of customers with the support of vast dealership network
            having more than 700 dealers and 46 distributors across the country. With our pursuit to perfection in all
            the spheres of the business, we have made a strong presence in domestic as well as overseas market by
            capturing more than 50% of the domestic market share. Our state-of-the-art manufacturing unit is equipped
            with advanced machinery capable of executing bulk orders with precision. We use best quality of raw material
            and sustainable engineering designs for manufacturing innovative implements of International standards.
        </p>
        <p>As the market leader in India, saptshrungi has helped bringing Farm Tech Prosperity to the Indian farmer with
            technologically superior & affordable solutions.
            <br>
        <h1 class="heading"><span>Vision</span> </h1>
        <p>The business value cannot be achieved through technology alone. It starts with people: experts working
            together to get to the heart of your individual business objectives and develop the most adapted solutions
            to fit these requirements. We believe this human-centric approach to technology is what makes the difference
            for our business. Our vision for Tirth Agro Technology Private Limited. is to be recognized as a global,
            leading farm mechanization solution provider for making agriculture more economical and creating sustainable
            value for all its stakeholders in a responsible manner.</p>
        saptshrungi has achieved the distinction of being the largest Rotary Tiller manufacturer in the World.
        #MakingAgricultureMoreEconomical®</p>
        <br>
        <h1 class="heading"><span>Mission</span> </h1>
        <p>Our mission is to manufacture and supply the technically advance agricultural implements worldwide, with
            acknowledged reliability, outstanding quality, supported with excellent service.</p>
    </div>
    <center>
        <div id="wave">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock content %}